@model GroceryViewModel

<div>
    <h1>This page will populate grocery items to select and add to a list</h1>

    <form method="post" asp-action="Create">
        <div class="form-group">
            <label for="ListName">List Name</label>
            <input type="text" class="form-control" id="ListName" placeholder="Enter List Name" asp-for="GroceryName">
        </div>
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item1">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item2">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item3">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item4">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
                <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item5">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item6">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item7">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item8">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item9">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item10">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item11">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item12">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item13">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item14">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item15">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>

        <input type="hidden" asp-for="UserID" value="@ViewBag.ID"/>

        <button asp-controller="List" asp-action="Create" asp-route-id="" type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

