@model GroceryViewModel

<div>
    <h1>This page will populate grocery items to select and add to a list</h1>

    <form method="post" asp-action="Create">
        <div class="form-group">
            <label for="ListName">List Name</label>
            <input type="text" class="form-control" id="ListName" placeholder="Enter List Name" asp-for="GroceryName">
        </div>
        @* select list to select grocery items from Viewbag.items to bind to List controller *@
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item1">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item2">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item3">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <label for="GroceryId">Grocery Item</label>
        <select class="form-control" id="GroceryId" asp-for="item4">
            <option value="">Select One</option>
            @foreach (var item in ViewBag.Item)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>

        <button asp-controller="List" asp-action="Create" type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

